# Arquivos de ambiente
/.env
/.env_*
/src/.env
/src/.env.*

# Diretórios
src/storage/

# Dependências
/vendor/
/node_modules/
/src/vendor/
/src/node_modules/

# Arquivos de IDE/Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db


# Arquivos de cache
*.cache
*.tmp
*.temp

# Arquivos de configuração local
error_log
/docker-compose.yml
/src/docker-compose.yml
/src/config.json
/src/composer.json
/src/composer.lock

# certbot
certbot/conf/

