pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.hidden {
    display: none;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-pointer:hover {
    color: #007bff;
}


.fs-7 {
    font-size: 14px !important;
} 

.fs-8 {
    font-size: 12px !important;
} 

.fs-9 {
    font-size: 10px !important;
} 

.fs-10 {
    font-size: 8px !important;
} 

.fs-11 {
    font-size: 6px !important;
} 

